
workflow_test_2/target/

workflow_test_2/\.idea/

workflow_test/\.idea/

workflow_test/target/

workflow_test/\.DS_Store

workflow_test_2/\.DS_Store

\.DS_Store

EEG_DataAnalysisPackage/\.idea/

EEG_DataAnalysisPackage/target/

EEG_DataAnalysisPackage/Epochs\.csv
